<!DOCTYPE html>

<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Phone Pattern Security Checker">
      <meta name="keywords" content="android, iphone, ios, security, cybersecurity, pattern, patternlock, lock, password, pin, samsung, motorola, xiomi, lava, redi, oneplus">
      <meta name="robots" content="index, follow">
      <meta name="author" content="Suryaansh Chawla">
      <title>PatSec</title>
      <link rel="icon" href="favicon.jpg" type="image/x-icon">
      <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="static/style.css">
      <script src="static/script.js"></script>
    </head>
